@*-
Title: "Projects"
Navbar: true
Order: 2
-*@
<div class="bg-background w-full flex justify-center items-center p-6 md:p-16 pb-0">
    <div class="w-full max-w-screen-xl flex justify-center items-center">
        <div class="flex justify-between items-center">
            <div class="flex flex-col gap-8 w-full text-center md:text-start delay-[300ms] duration-[600ms] taos:translate-x-[-200px] taos:opacity-0" data-taos-offset="400">
                <h1 class="text-white text-3xl md:text-5xl font-bold">Welcome to <span class="text-purple">My Projects!</span></h1>
                <p class="text-white text-lg">
                    Lorem ipsum dolor sit amet. Sed quis harum quo illum enim aut voluptatibus dolor.
                    Qui deleniti quasi in similique consequatur est unde reiciendis vel totam quia.
                </p>
            </div>
            <img src="/assets/images/Projects/herobg.png" class="md:w-1/2 md:block hidden lg:min-h-96 duration-[600ms] taos:translate-x-[200px] taos:opacity-0" data-taos-offset="400" />
        </div>
    </div>
</div>

<div class="bg-background w-full flex justify-center items-center p-6 md:p-16 pb-0">
    <div class="w-full max-w-screen-xl flex justify-center items-center">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 w-full justify-between items-center">
            @{
                var delay = 0;
                var number = 0;
            }
            @foreach (var project in Outputs.FromPipeline("Data").FilterSources("Projects/*.yaml"))
            {
                delay += 200;
                if(number % 3 == 0)
                {
                    delay = 0;
                }
                number++;
                <div class="bg-[#18181a] rounded-lg border border-[#211f29] flex flex-col p-6 gap-8 delay-[@(delay)ms] duration-[600ms] taos:translate-x-[-200px] taos:opacity-0" data-taos-offset="400">
                    <div class="w-full border-2 purple-border-gradient bg-[url('@project.GetPath("Image")')] bg-cover bg-no-repeat bg-center relative h-44">
                        <a href="@project.GetString("Link")" class="absolute top-2 right-2 flex justify-center items-center bg-background rounded-full p-2">
                            <img src="/assets/images/github.svg" class="w-6 h-6" />
                        </a>
                    </div>
                    <h3 class="text-white text-xl font-semibold">@project.GetTitle()</h3>
                    <p class="text-white">@project.GetString("Description")</p>
                    <div class="w-full justify-end items-center flex gap-2 hover:underline hover:underline-offset-2">
                        <a href="@project.GetString("Link")" class="text-pink">Learn More</a>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" width="24" height="24" class="fill-pink">
                            <path d="M246.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6l0 256c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l128-128z" />
                        </svg>
                    </div>
                </div>
            }
        </div>
    </div>
</div>